.btn {
    background-color: transparent;
    border-radius: 7px;
    border: 2px solid #4A5C6A;
    box-shadow: none;
    margin: 5px;
    font-size: 28px;
    color: #4A5C6A;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
}

.btn:hover {
    color: #9BA8AB;
    border-color: #9BA8AB;
    transition: all 0.3s ease-in;
}