.header {
    display: flex;
    color: aliceblue;
    font-size: 36px;
    width: 100%;
    height: 75px;
    background-color: #11212D;
    margin-bottom: 100PX;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    height: 50px;
    width: 70px;
    padding-left: 10px;
}